body
{
  color: white;
  margin: 0px;
  font-family: MILanPro_SEMIBOLD,Microsoft YaHei;
}

.container
{
  background-color: black;
  height: 850px
}

.logo_area
{
  float: left;
  margin: 10px;
  margin-left: 40%;
  height: 30px;
  width: 300px;
  background-color: white;
}

.nav_bar
{
  height: 50px;
  width: 100%;
  background-color:  #ef0606;
}

.sgn_up
{
    width: 50%;
    height: 700px;
    float: left;
}

.model
{
  margin: 80px;
  height: 620px;
  width:  70%;
  border-radius: 10px;
  border: 2px solid;
  border-color: red;
}

.sgn_up_name
{
  margin-top: 20px;
  text-align: center;
  height: 50px;
  width: 100%;
  font-family: MILanPro_SEMIBOLD,Microsoft YaHei;
  font-size: 30px;
}

#content
{

  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.lname
{
  margin-top: 20px;
}

.c_pass
{
  margin-top: 20px;
}

.sgn_in
{
  width: 50%;
  height: 700px;
  float: right;
}

.sgnin_model
{
  margin-top: 150px;
  margin-left: 100px;
  height: 400px;
  width:  70%;
  border-radius: 10px;
  border: 2px solid;
  border-color: red;
}

.sgnin_name
{
  margin-top:  20px;
  text-align: center;
  height: 50px;
  width: 100%;
  font-family: MILanPro_SEMIBOLD,Microsoft YaHei;
  font-size: 30px;
}

#content1,#content2
{
  margin-top: 25px;
  margin-left: 20px;
  font-size: 20px;
}

input[type="text"], input[type="email"], input[type="password"]
{
  height: 25px;
  width: 95%;
}

.fr_pass
{
  height:15px;
float: right;
margin-right:15px;
margin-top: 20px;
}

button
{
  height: 30px;
  width: 95%;
  margin-top: 15px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 100px;
}

button:hover
{
  cursor: pointer;
  opacity: 0.7;
}

.footer
{
  text-align: center;
  float: right;
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background-color: red;
  color: white;
}

hr
{
  margin-top: 100px;
  height: 500px;
  width: 2px;
  float:left;
}

.tag_ln
{
  width: 100%;
  text-align: center;
}
